:root {
	--electric-violet: #a729f5;
	--oxford-blue: #313e51;
	--fiord: #3b4d66;
	--grey-navy: #626c7f;
	--shuttle-gray: #abc1e1;
	--catskill-white: #f4f6fa;
	--white: #ffffff;
	--shamrock-green: #26d782;
	--burnt-sienna: #ee5454;
}

@font-face {
	font-family: 'RubikVariableFont';
	src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'RubikItalicFont';
	src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

#root {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

body {
	font-family: 'RubikVariableFont', sans-serif;
	color: var(--oxford-blue);
	background-color: var(--catskill-white);
	background-image: url('./assets/images/pattern-background-desktop-light.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.homepage {
	display: flex;
	justify-content: space-between;
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; */
	/* gap: 131px; */
}

.homepage-left {
	flex: 0 1 465px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.homepage-right {
	flex: 0 1 564px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.homepage-right a {
	display: flex;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
	gap: 32px;
	align-items: center;
	font-size: 28px;
	padding: 20px;
	border-radius: 24px;
	background-color: var(--white);
}

button {
	font-family: inherit;
	font-size: inherit;
}

h1 {
	font-weight: 200;
	font-size: 64px;
	line-height: 110%;
}

h1 span {
	font-weight: 500;
}
.homepage-left p span {
	font-family: 'RubikItalicFont';
	font-size: 20px;
}

.homepage-left p {
	color: var(--grey-navy);
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	border-radius: 8px;
	border: 1px solid black;
}

.correct {
	outline: 3px solid var(--shamrock-green);
	background-image: url('./assets/images/icon-correct.svg');
	background-repeat: no-repeat;
	background-position: center right 20px;
}

.incorrect {
	outline: 3px solid var(--burnt-sienna);
	background-image: url('./assets/images/icon-error.svg');
	background-repeat: no-repeat;
	background-position: center right 20px;
}

.quiz-button-container.incorrect .question-order {
	background-color: var(--burnt-sienna);
	color: var(--white);
}

.quiz-button-container.correct .question-order {
	background-color: var(--shamrock-green);
	color: var(--white);
}

.quiz-page-container {
	display: flex;
	gap: 131px;
	height: 564px;
	width: 100%;
}

.quizPage {
	display: flex;
	flex-direction: column;
	gap: 85px;
}

.quiz-button-container {
	display: flex;
	background-color: var(--white);
	border-radius: 24px;
	padding: 18px 20px 18px 20px;
	gap: 32px;
	height: 92px;
	width: 100%;
}

.quiz-page-container-left {
	/* flex: 0 1 465px; */
	/* max-width: 465px; */
	max-width: 452px;
	display: flex;
	justify-content: space-between;
	height: 456px;
	flex-direction: column;
	/* gap: 164px; */
}

.quiz-page-container-right,
.results-page-right {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 564px;
}

.question-order {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 564px;
	width: 56px;
	height: 56px;
	background-color: var(--catskill-white);
	border-radius: 8px;
	font-weight: 500;
	font-size: 28px;
	color: var(--grey-navy);
}

.question-order:hover {
	background-color: #f6e7ff;
}

.question-counter {
	font-size: 20px;
	font-family: 'RubikItalicFont';
	color: var(--grey-navy);
}

.quiz-question {
	font-size: 36px;
	cursor: default;
}

.quiz-option {
	font-size: 26px;
	text-align: left;
	align-self: center;
	/* max-width: 15ch; */
	/* font-weight: 400; */
	max-width: 75%;
}

.quiz-info-container {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

button {
	width: 100%;

	color: var(--fiord);
	font-weight: 500;
	border: none;
	background-color: var(--white);
	font-size: 28px;
	cursor: pointer;
	/* max-width: 564px; */
}

button:disabled {
	opacity: 1;
	color: unset;
}

.button-submit {
	padding: 32px 0;
	border-radius: 24px;
	background-color: var(--electric-violet);
	color: var(--white);
	height: 92px;
}

.button-submit:hover {
	background-color: var(--electric-violet);
	opacity: 50%;
}

.quiz-button-container:hover .question-order {
	background-color: #f6e7ff;
	color: var(--electric-violet);
}

.active-selected {
	outline: 3px solid var(--electric-violet);
}

.not-selected-correct-answer {
	background-image: url('./assets/images/icon-correct.svg');
	background-repeat: no-repeat;
	background-position: center right 20px;
}

.error-message {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 2px;
	font-size: 24px;
	color: var(--burnt-sienna);
}

.hidden {
	visibility: hidden;
}

#slider {
	appearance: none;
	outline: none;
	border-radius: 20px;
	height: 8px;
	width: 100%;
}

#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

#slider::-webkit-slider-runnable-track {
	height: 18px;
}
.slider-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 16px;
	background-color: var(--white);
	border-radius: 20px;
	padding: 4px;
}

.selectedTopic {
	display: flex;
	align-items: center;
	gap: 14px;
}

.selectedTopic > div {
	font-size: 28px;
}

.selectedTopic > img {
	width: 56px;
	height: 56px;
}

.results-page {
	display: flex;
	gap: 143px;
	height: 512px;
}

.results-page h1 {
	max-width: 450px;
}

.results {
	height: 388px;
	border-radius: 24px;
	background-color: var(--white);
	padding: 48px;
	gap: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.results-topic {
	display: flex;
	align-items: center;
	font-size: 28px;
	gap: 14px;
}

.results-score {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 28px;
	color: var(--grey-navy);
}

.results-score span {
	font-size: 144px;
	color: var(--oxford-blue);
	align-self: center;
}
